@import "../../common/variable.scss";

.left {
  border-radius: 5px 0px 0px 5px;
  padding: 11px 20px 4px 20px !important;
}
.right {
  border-radius: 0px 5px 5px 0px;
  padding: 10px 10px 4px 10px !important;
  span {
    text-decoration: line-through;
    color: white;
    font-weight: 300;
  }
}
p {
  font-size: 11.7px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #13244e;
}

@media screen and (max-width: 1016px) {
  .small-cards-middle {
    height: 10px;
    padding: 1rem;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 620px) {
  .small-cards {
    display: none;
  }
}
