@import "../../common/variable.scss";

.left {
  border-radius: 5px 0px 0px 5px;
   
}
.right {
  border-radius: 0px 5px 5px 0px;
  span{
    text-decoration: line-through;
    color:white;
    font-weight: 300;
  }
   
}
p {
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #13244e;
  
}

@media screen and (max-width: 1016px) {
  .small-cards-middle {
    height: 10px;
    padding: 1rem;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 620px) {
  .small-cards {
    display: none;
  }
}
