.App {
   background-color:white;
   max-height: 110vh;
    
}

.html{
  font-size: 10px;
}
.body{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
 [class*="col-"] {
    padding:0!important
}



 
