
.col-left {
  background-image: linear-gradient(to bottom, #13244e, #2697d3);
  display: block;
   height: 100vh;
}

.margin-auto {
  margin: 1rem 4rem;
}
.ml-7 {
  margin-left: 6rem;
}

@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .col-left {
    display: none;
  }
}
