// colors
$yellow: #ffbe56;
$brightYellow: #f9f5e1;
$Green: #00c267;
$lightGreen: #e0f9ec;
$veryLightGreen:#f9fffb;
$lightBlue: #e4f5fd;
$purple: #c4b7f9;
$lightBrown:#f3ab8e;
$icon-gray:  #9fa3b7;

:export{
    yellow:$yellow;
    lightGreen:$lightGreen;
    green:$Green;
    lightYellow:$brightYellow;
}


// Box-Shadow
$shadow:  0 7px 64px 0 rgba(19, 36, 78, 0.07);
$borderBottom: 1px dashed rgba(grey, 0.4);
 
// custom Margin
$margin-sm: 3rem ;
$margin-mid: 5rem ;
$margin-sm: 8rem ;
$margin-lg: 9rem; 