// colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$mainWhite: #fff;
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0, 98%);
$third-section-gray: grey;


// Box-Shadow
$shadow: 0rem 1rem 5rem rgba(#666464, 0.2);

// custom Margin
$margin-sm: 3rem ;
$margin-mid: 5rem ;
$margin-sm: 8rem ;
$margin-lg: 9rem; 